


#whole{
    background-color:black;
    padding: 10px;
    width: 700px;
    height: 550px;
    margin: auto;

}
#picture
{
    width: 600px;
    height: 400px;
    padding: 0px;

}
#image-borders{
    border: 5px solid yellow;
    padding: 0px;
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 10px;
}
#main-text{
    color:white;
    text-align: center;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24pt;
    margin-bottom: 0px;
    word-spacing: 5px;
}
#describing-text{
    color:cyan;
    text-align: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    margin-top: 0px;
    word-spacing: 6px;

}

  
